main { width:calc(100vw - 2rem); overflow:hidden; }
#registro table#datatable button { width:4rem; }
#registro table#datatable td:nth-child(4) { padding-left:1rem;}
#registro div.card { min-width:46rem; }
#registroModal #submit { width: 5.28rem; }
#registroModal #submit span { display:block; font-size:1.5rem; }
#consulta tr.tachado td { text-decoration:line-through; color:#818c98; }
